---
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/layouts/Base.astro';
import PostHeader from '@/components/PostHeader.astro';
import PostContent from '@/components/PostContent.astro';

import TableOfContents from '@/components/TableOfContents.astro';

const { description } = AppConfig;

const { frontmatter, headings } = Astro.props;

// Construct explicit OG Image URL
// Astro.url.pathname will be something like /posts/my-slug/ or /posts/my-slug
// We want /og/my-slug.png
const slug = (Astro.url.pathname.split('/').pop() || Astro.url.pathname.split('/').slice(-2)[0]) || '';
const cleanSlug = slug.replace(/\/$/, ""); 
// If site is set in astro.config, Astro.site provides it
const siteUrl = Astro.site ? Astro.site.toString().replace(/\/$/, "") : 'https://sudhir45.github.io';
const ogImageUrl = `${siteUrl}/og/${cleanSlug}.png`;
---

<Base head={{ title: frontmatter.title, description, image: ogImageUrl }}>
	<div class="mx-auto flex w-full max-w-7xl flex-col items-start justify-center px-4 md:flex-row md:gap-10">
		<div class="w-full max-w-[850px] flex-1">
			<PostHeader
				title={frontmatter.title}
				author={frontmatter.author}
				tags={frontmatter.tags}
				minutesRead={frontmatter.minutesRead}
				pubDate={frontmatter.pubDate}
				isPinned={frontmatter.isPinned}
				img={{ src: frontmatter.image.src, alt: frontmatter.image.alt }}
			/>
			<PostContent><slot /></PostContent>
		</div>
		
		<!-- Sidebar TOC for Desktop -->
		<aside class="sticky top-24 hidden w-64 shrink-0 lg:block">
			<div class="mb-4 text-xs font-bold uppercase tracking-wider text-stone-500">On this page</div>
			<TableOfContents headings={headings} />
		</aside>
	</div>
</Base>
